// Navigation code here

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    h1 {
        font-size: 5rem;
        padding-top: 5%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;
        

        a {
            display: inline;
            display: flex;
            justify-content: space-evenly;
            padding: 5%;
            width: 120px;
            flex-wrap: nowrap;
            text-decoration: none;
            color: black;
            font-size: 1.3rem;
            text-align: center;

        }
    }
}